body {
    background-image: url('./images/emile-alexander-ryu-chunnwork2.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    aspect-ratio: auto;
}


button:hover {
cursor: pointer;
}

@keyframes imageAnimation {
    0% {
      background-image: url('./images/ryu hadouken.gif');
    }
    50% {
      background-image: url('./images/ryu hadouken.gif');
    }
    100% {
      background-image: url('./images/ryu hadouken.gif');
    }
  }

.hadouken {
    animation-name: hadouken;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.game-screen {
    height: 400px;
    width: 400px;
    /* border: solid 5px aqua ; */
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.tv-screen {
    background-image: url('images/Crystal_Tv.png');
    background-repeat: no-repeat;
    background-size:cover;
}


.attack-screen {
    /* border: 1px solid yellow; */
    height:300px;
    width: 300px;
    margin: auto;
    background-size:contain;
    background-repeat: no-repeat;
}


h1  {
    text-align: center;
    font-family: 'SSF4 ABUKET', sans-serif;
    color: rgb(255, 204, 0);
}

h3 {
    color:rgb(255, 204, 0);
    font-size: 24px;
}

.result-container {
    border: solid 3px greenyellow;
    
    height: 100px;
    text-align: center;
    font-family:'SSF4 ABUKET';
    font-size: 35px;
    margin: auto;
    margin-top: 100px;
    background-color: gold;
    animation-name: result-container;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes result-container {
    0% {background-color: gold;}
    25% {background: linear-gradient(to right,red, gold);}
    50% {background: linear-gradient(to left,red, gold);}
    100% {background: linear-gradient(to right,red, gold);}
}


.result-screen {
    padding-top: 20px;
}


.result-container-two {
    border: solid 3px blue;
    height: 80px;
    width: 400px;
    margin: auto;
    background-image: url('images/street-fighter-6-ryu-chun.jpg');
    background-size: cover;
    background-position-y: 170px;
    color: white;
    font-weight: bold;
}

.result-screen-two {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}



.p1-roundCounter {
border: solid 1px black;
height: 100px;
width: 100px;
position: absolute;
top: 163px;
background-image: url('./images/ryu_ss01.jpg');
background-size: cover;
color: white;
}


.p1 {
color: red;
font-weight: bold;
font-size: 20px;
border: solid 1px black;
background-color: white;
height: 20px;
width: 100px;
position: absolute;
top: 256px;
text-align: center;
}

.p2 {
color: blue;
font-weight: bold;
font-size: 20px;
border: solid 1px black;
background-color: white;
height: 20px;
width: 100px;
position: absolute;
top: 256px;
right: 10px;
text-align: center;
}



.p2-roundCounter {
    border: solid 1px black;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 163px;
    right: 10px;
    background-image: url('./images/chunli_ss01.jpg');
    background-size: cover;
    color: yellow;
}


.reset {
    
}